@font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aileron';
    src: url('./assets/fonts/Aileron-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
  /* Add more weights if needed */
  